Repository power-js/todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --config .stylelintrc.json --syntax=scss --fix, stylelint --config .stylelintrc.json --syntax=scss, prettier --config .prettierrc.json --write

use babel7
  .babelrc
  package-lock.json
  package.json
Due: none

update description
  README.md
  package.json
  src/index.html
Due: none

update example with proper key example for children
  src/js/components/todo/todo.js
Due: prettier --config .prettierrc.json --write

minor tweaks to demo
  .prettierrc.json
  src/js/components/todo/todo.js
Due: prettier --config .prettierrc.json --write

cleanup and add gh pages:
  package.json
  src/js/components/todo/todo.js
Due: prettier --config .prettierrc.json --write

Updates
  app.178dd452b373892030e8.css
  app.178dd452b373892030e8.css.gz
  app.178dd452b373892030e8.js
  app.178dd452b373892030e8.js.gz
  app.178dd452b373892030e8.js.map
  app.178dd452b373892030e8.js.map.gz
  app.21c26636fe9e6df7803c.css
  app.21c26636fe9e6df7803c.css.gz
  app.21c26636fe9e6df7803c.js
  app.21c26636fe9e6df7803c.js.gz
  app.21c26636fe9e6df7803c.js.map
  app.21c26636fe9e6df7803c.js.map.gz
  app.84389736e403877e7c51.css
  app.84389736e403877e7c51.css.gz
  app.84389736e403877e7c51.js
  app.84389736e403877e7c51.js.gz
  app.84389736e403877e7c51.js.map
  app.84389736e403877e7c51.js.map.gz
  app.d3fd12a5856a44c49274.css
  app.d3fd12a5856a44c49274.css.gz
  app.d3fd12a5856a44c49274.js
  app.d3fd12a5856a44c49274.js.gz
  app.d3fd12a5856a44c49274.js.map
  app.d3fd12a5856a44c49274.js.map.gz
  index.html
Due: none

Updates
  app.css
  app.css.gz
  app.js
  app.js.gz
  app.js.map
  app.js.map.gz
  index.html
Due: none

Updates
  app.css
  app.css.gz
  app.css.map
  app.css.map.gz
  app.js
  app.js.gz
  app.js.map
  app.js.map.gz
Due: none

Updates
  app.178dd452b373892030e8.css
  app.178dd452b373892030e8.css.gz
  app.178dd452b373892030e8.js
  app.178dd452b373892030e8.js.gz
  app.178dd452b373892030e8.js.map
  app.178dd452b373892030e8.js.map.gz
  app.21c26636fe9e6df7803c.css
  app.21c26636fe9e6df7803c.css.gz
  app.21c26636fe9e6df7803c.js
  app.21c26636fe9e6df7803c.js.gz
  app.21c26636fe9e6df7803c.js.map
  app.21c26636fe9e6df7803c.js.map.gz
  app.84389736e403877e7c51.css
  app.84389736e403877e7c51.css.gz
  app.84389736e403877e7c51.js
  app.84389736e403877e7c51.js.gz
  app.84389736e403877e7c51.js.map
  app.84389736e403877e7c51.js.map.gz
  app.d3fd12a5856a44c49274.css
  app.d3fd12a5856a44c49274.css.gz
  app.d3fd12a5856a44c49274.js
  app.d3fd12a5856a44c49274.js.gz
  app.d3fd12a5856a44c49274.js.map
  app.d3fd12a5856a44c49274.js.map.gz
Due: none

Updates
  app.css
  app.css.gz
  app.css.map
  app.css.map.gz
  app.js
  app.js.gz
  app.js.map
  app.js.map.gz
  index.html
Due: none

Updates
  app.d3fd12a5856a44c49274.css
  app.d3fd12a5856a44c49274.css.gz
  app.d3fd12a5856a44c49274.js
  app.d3fd12a5856a44c49274.js.gz
  app.d3fd12a5856a44c49274.js.map
  app.d3fd12a5856a44c49274.js.map.gz
  index.html
Due: none

Updates
  app.cd806c175b7acd1c80a3.css
  app.cd806c175b7acd1c80a3.css.gz
  app.cd806c175b7acd1c80a3.js
  app.cd806c175b7acd1c80a3.js.gz
  app.cd806c175b7acd1c80a3.js.map
  app.cd806c175b7acd1c80a3.js.map.gz
  index.html
Due: none

Updates
  app.css
  app.css.gz
  app.d3fd12a5856a44c49274.css
  app.d3fd12a5856a44c49274.css.gz
  app.d3fd12a5856a44c49274.js
  app.d3fd12a5856a44c49274.js.gz
  app.d3fd12a5856a44c49274.js.map
  app.d3fd12a5856a44c49274.js.map.gz
  app.js
  app.js.gz
  app.js.map
  app.js.map.gz
Due: none

Updates
  app.88a38370b3d1f9aead7f.css
  app.88a38370b3d1f9aead7f.css.gz
  app.88a38370b3d1f9aead7f.js
  app.88a38370b3d1f9aead7f.js.gz
  app.88a38370b3d1f9aead7f.js.map
  app.88a38370b3d1f9aead7f.js.map.gz
  index.html
Due: none

fix typo in demo; use gh-pages package
  package-lock.json
  package.json
  src/index.html
  src/js/components/todo/todo.js
Due: prettier --config .prettierrc.json --write

update power-js; fix bug in demo
  package-lock.json
  package.json
  src/js/components/todo/todo.js
Due: prettier --config .prettierrc.json --write

Updates
  app.88a38370b3d1f9aead7f.js
  app.88a38370b3d1f9aead7f.js.gz
  app.88a38370b3d1f9aead7f.js.map
  app.88a38370b3d1f9aead7f.js.map.gz
  app.b7da81f26dceb6b4b327.css
  app.b7da81f26dceb6b4b327.css.gz
  app.b7da81f26dceb6b4b327.js
  app.b7da81f26dceb6b4b327.js.gz
  app.b7da81f26dceb6b4b327.js.map
  app.b7da81f26dceb6b4b327.js.map.gz
  app.cd806c175b7acd1c80a3.js.gz
  app.cd806c175b7acd1c80a3.js.map
  app.cd806c175b7acd1c80a3.js.map.gz
  app.d3fd12a5856a44c49274.css
  app.d3fd12a5856a44c49274.css.gz
  app.d3fd12a5856a44c49274.js
  app.d3fd12a5856a44c49274.js.gz
  app.d3fd12a5856a44c49274.js.map
  app.d3fd12a5856a44c49274.js.map.gz
  app.fd3427fbf5c4789a5bde.css
  app.fd3427fbf5c4789a5bde.css.gz
  app.fd3427fbf5c4789a5bde.js
  app.fd3427fbf5c4789a5bde.js.gz
  app.fd3427fbf5c4789a5bde.js.map
  app.fd3427fbf5c4789a5bde.js.map.gz
  index.html
Due: none

Updates
  app.cf934a3d358a03843475.css
  app.cf934a3d358a03843475.css.gz
  app.cf934a3d358a03843475.js
  app.cf934a3d358a03843475.js.gz
  app.cf934a3d358a03843475.js.map
  app.cf934a3d358a03843475.js.map.gz
  index.html
Due: none

update power-js; fix bug in demo
  package-lock.json
  package.json
  src/index.html
Due: none

add examples of basic testing
  package.json
  src/index.js
  src/js/components/todo/__snapshots__/todo.test.js.snap
  src/js/components/todo/todo.js
  src/js/components/todo/todo.test.js
  tests/shallow.js
Due: prettier --config .prettierrc.json --write

Updates
  app.6d7fbbf9866584892c1b.css
  app.6d7fbbf9866584892c1b.css.gz
  app.6d7fbbf9866584892c1b.js
  app.6d7fbbf9866584892c1b.js.gz
  app.6d7fbbf9866584892c1b.js.map
  app.6d7fbbf9866584892c1b.js.map.gz
  index.html
Due: none

initial commit
  .babelrc
  .editorconfig
  .eslintignore
  .eslintrc
  .gitattributes
  .gitignore
  .lintstagedrc.json
  .prettierrc.json
  .stylelintignore
  .stylelintrc.json
  README.md
  package-lock.json
  package.json
  postcss.config.js
  src/index.html
  src/index.js
  src/js/components/todo/__snapshots__/todo.test.js.snap
  src/js/components/todo/todo.js
  src/js/components/todo/todo.test.js
  src/style/app.scss
  src/style/components/components.scss
  src/style/components/todo/_todo.scss
  src/style/theme/_reset.scss
  src/style/theme/_scaffolding.scss
  src/style/theme/_type.scss
  src/style/theme/_variables.scss
  src/style/theme/theme.scss
  tests/shallow.js
  webpack.config.js
Due: stylelint --config .stylelintrc.json --syntax=scss --fix, stylelint --config .stylelintrc.json --syntax=scss, prettier --config .prettierrc.json --write

Path conditions:
  stylelint --config .stylelintrc.json --syntax=scss --fix: any of: src/**/*.scss
  stylelint --config .stylelintrc.json --syntax=scss: any of: src/**/*.scss
  prettier --config .prettierrc.json --write: (((any of: src/**/*.js) or (any of: src/**/*.json)) or (any of: tests/**/*.js)) or (any of: tests/**/*.json)
